<div id="<%= dom_id ticket %>">
  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= ticket.place %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= ticket.destination %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= ticket.time %>
  </p>

  <p>
    <strong>Deal:</strong>
    <%= ticket.deal %>
  </p>

</div>
